@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ffffff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input,
textarea {
  background-color: transparent;
}

input:focus,
textarea:focus {
  outline: #000000;
  border: 1px solid;
}

input[type="radio"] {
  accent-color: #000 !important;
}

input:disabled {
  background-color: #f6f8fa;
}